/**

App

**/
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.title1 {
  font-family: 'Abril Fatface', cursive;
}
.txt1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
button:focus,
input:focus {
  outline:0;
}
.autoH {
  height: auto;
}
.textBtn {
  background-color: red;
  color: white;
}
/**

Navbar

**/
.navbar {
  position: fixed;
  vertical-align: middle;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 1vh 0 1vh 1vw;
  height: 3vh;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.25);
}
.navbar > img {
  vertical-align: middle;
  height: 60%;
}

.navTitle {
  vertical-align: middle;
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  margin: 0 5% 0 1%;
  font-size: 1.2em;
}
.navbar > button {
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
  padding: 0 1%;
  height: 90%;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-right: 2%;
  transition: all 0.25s;
}
.navbar > button:nth-child(3) {
  margin-right:1%;
}
.navbar > button:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: black;
}
/**

Footer

*/
.footer {
  margin: 2vh 0;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  color: #c5c5c5;
}
.footer > span {
  display: inline-block;
  vertical-align: middle;
}
/**

Landing

**/
.bgImg1 {
  background: url(landing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bgImg2 {
  padding: 10% 0;
  text-align: center;
  color: white;
  background: url(recipes.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro {
  color: white;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
}
.intro > .title1 {
  font-size: 8em;
}
.intro > .txt1 {
  font-size: 4em;
}
.intro > button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  border: none;
  border-radius: 0;
  color: black;
  font-size: 1.2em;
  padding: 1% 5%;
  margin-top: 5%;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 1);
  transition: all 0.25s;
}
.intro > button:hover {
  cursor: pointer;
  padding: 1.5% 5.5%;
}
.black::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgLeft {
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(about.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about, .motto {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55%;
  width: 35%;
}
.motto {
  left: 5%;
}
.about > .title1,
.motto > .title1  {
  font-size: 5em;
}
.about > .txt1,
.motto > .txt1  {
  font-size: 2em;
}
.recipes {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.recipes > .title1 {
  font-size: 5em;
  margin-bottom: 1%;
}
.recipes > .txt1 {
  font-size: 1.2em;
}
.imgRight {
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(motto.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}