/**

App

**/


@font-face {
  font-family: 'Abril Fatface';
  src: local('Butler'),
  local('Butler'),
  url('fonts/Butler.ttf') format('truetype');
}


body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.title1 {
  font-family: 'Abril Fatface', cursive;
}
.txt1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
button:focus,
input:focus {
  outline:0;
}
.autoH {
  height: auto;
}
.textBtn {
  background-color: red;
  color: white;
}
/**

Navbar

**/
.navbar {
  position: fixed;
  vertical-align: middle;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 1vh 0 1vh 1vw;
  height: 3vh;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.25);
}
.navbar > img {
  vertical-align: middle;
  height: 60%;
}

.navTitle {
  vertical-align: middle;
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  margin: 0 5% 0 1%;
  font-size: 1.2em;
}
.navTitle:hover,
.navbar > img:hover {
  cursor: pointer;
}
.navbar > span > button,
.navbar > button {
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
  padding: 0 1%;
  height: 90%;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-right: 2%;
  transition: all 0.25s;
}
.navbar > span > button:nth-child(3),
.navbar > button:nth-child(3) {
  margin-right:1%;
}
.navbar > span > button:hover,
.navbar > button:hover  {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: black;
}
/**

Footer

*/
.footer {
  margin: 2vh 0;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  color: #c5c5c5;
}
.footer > span {
  display: inline-block;
  vertical-align: middle;
}
/**

Landing

**/
.bgImg1 {
  background: url(landing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bgImg2 {
  padding: 10% 0;
  text-align: center;
  color: white;
  background: url(recipes.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro {
  color: white;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
}
.intro > .title1 {
  font-size: 8em;
}
.intro > .txt1 {
  font-size: 4em;
}
.intro > button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  border: none;
  border-radius: 0;
  color: black;
  font-size: 1.2em;
  padding: 1% 5%;
  margin-top: 5%;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 1);
  transition: all 0.25s;
}
.intro > button:hover {
  cursor: pointer;
  padding: 1.5% 5.5%;
}
.black::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgLeft {
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(about.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about, .motto {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55%;
  width: 35%;
}
.motto {
  left: 5%;
}
.about > .title1,
.motto > .title1  {
  font-size: 5em;
}
.about > .txt1,
.motto > .txt1  {
  font-size: 2em;
}
.recipes {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.recipes > .title1 {
  font-size: 5em;
  margin-bottom: 1%;
}
.recipes > .txt1 {
  font-size: 1.2em;
}
.imgRight {
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(motto.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/**

Recipes

**/

.bigRecipe {
  width: 90%;
  margin: 5% auto;
  height: 30vh;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: all 0.25s;
}
.bigRecipe:hover {
  cursor: pointer;
  width: 91%;
  height: 30.5vh;
}
.bigRecipe::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: all 0.25s;
}
.bigRecipe:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.recipeContent {
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.recipeContent > .title1 {
  font-size: 3em;
}
.recipeContent > .rating {
  font-family: 'Abril Fatface', cursive;
  font-size: 4em;
}
.recipeContent > .txt1 {
  font-size: 1.5em;
}
.rating > img {
  display: inline-block;
  height: 0.5em;
  margin-left: 0.5vw;
}
.recipe1 {
  margin-top: 8vh;
  background: url(recipe1.jpg) no-repeat  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.recipe2 {
  background: url(recipe2.jpg) no-repeat  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.recipe3 {
  background: url(recipe3.jpg) no-repeat  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.smallRecipe {
  position: relative;
  background-color: black;
  width: 25vw;
  margin: 0 4% 2% 4%;
  text-align: center;
  display: inline-block;
  height: 25vw;
}
.smallRecipe:hover {
  cursor: pointer;
}
.searchBar {
  text-align: center;
  margin-top: 8vh;
}
.searchBar > input {
  font-family: 'Abril Fatface', cursive;
  border: none;
  border-bottom: 1px solid #dadada;
  margin-right: 2%;
  font-size: 2em;
}
.searchBar > select {
  margin-right: 2%;
}
.searchBar > button {
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  padding: 0.8% 3%;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: all 0.25s;
}
.searchBar > button:hover {
  cursor: pointer;
  padding: 1% 3.2%;
}
/**

Recipe

**/
.bgRecipe {
  background: url(recipeImg.jpg) no-repeat fixed center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bgRecipe::after {
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 0;
}
.recipeDescription {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  color: white;
  z-index: 1;
}
.recipeDescription > .title1 {
  font-size: 8em;
}
.recipeDescription > .txt1 {
  font-size: 4em;
} 
.recipeDescription > .txt1:hover {
  cursor: pointer;
} 
.recipeDescription > .rating {
  font-size: 2em;
}
ul {
  margin: 0;
  background-color: black;
  min-height: 5vh;
  padding: 5vh 5%;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}
#recipDesc > iframe {
  margin: 0;
  width: 80vw;
  height: 35vw;
  border-right: 10vw solid black;
  border-left: 10vw solid black;
  border-bottom: 10vh solid black;
}
.description {
  min-height: 10vh;
  text-align: center;
  vertical-align: middle;
  border-bottom: 0.5vh solid black;
  line-height: 10vh;
}
.description > .txt1 {
  display: inline-block;
  vertical-align: middle;
}
.newComment > input {
  width: 80%;
  margin: 0;
  height: 5vh;
  font-size: 1.5em;
}
.newComment > button {
  vertical-align: top;
  width: 19.5%;
  height: 5.5vh;
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
  transition: all 0.25s;
}
.newComment > button:hover {
  cursor: pointer;
  background-color: white;
  border: 5px solid black;
  color: black;
}
.comments {
  width: 100%;
}